@charset "UTF-8";

@font-face {
  font-family: "titulo";
  src: url(../fontes/Mono-Light.ttf);
}

@font-face {
  font-family: "corpo";
  src: url(../fontes/Mono-Regular.ttf);
}

@keyframes movimentoCirculo {
  0% {
    transform: rotateY(0deg) rotateX(45deg);
  }
  100% {
    transform: rotateY(360deg) rotateX(45deg);
  }
}

:root {
  --preto: #000c0d;
  --verde: #266569;
  --verde-claro: #3e7e77;
  --verde-escuro: #022601;
  --laranja: #f2af5c;
  --laranja-claro: #ffcd71;
  --fonte: "titulo", serif;
  --fonte-botao: "corpo", serif;
}

/*reset*/
* {
  margin: 0;
  padding: 0;
}

/*header*/

header {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;

  padding: 10px;
  background-image: linear-gradient(
    to top,
    var(--preto),
    var(--verde-escuro),
    var(--verde)
  );

  color: white;

  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.438);
}

header #cabecalho-esquerdo {
  display: flex;
  align-items: center;

  font-family: var(--fonte);

  width: 100vw;
}

header #cabecalho-esquerdo h1 {
  font-size: 2.3em;
}

header #cabecalho-esquerdo img {
  height: 70px;
  margin-left: 10px;
  margin-right: 5px;
}

.hamburger {
  font-size: 1.8rem;

  background: none;
  border: none;

  color: white;
  cursor: pointer;

  display: none; /* Escondido por padrão */
}

#cabecalho-direto {
  display: flex;
  align-items: center;
  width: 100vw;
}

/* Menu começa oculto */
#menu {
  display: none;
  position: relative;

  top: 5px;
  border-radius: 5px;

  padding: 5px;

  flex-direction: column;
}

#menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#menu ul li {
  font-size: 1.2em;
  font-family: var(--fonte);

  padding: 10px;

  border-radius: 5px;

  text-align: center;
}

#menu ul li a {
  color: white;
  text-decoration: none;
  font-size: 1.1em;
}

.botoes {
  display: flex;
  align-items: center;

  padding-top: 15px;

  width: 90.5vw;

  justify-content: flex-end;
}

.botoes button {
  background-color: var(--laranja);

  width: 110px;
  height: 40px;

  margin-right: 5px;

  border-radius: 5px;

  font-family: var(--fonte-botao);
  font-size: 1em;
  font-weight: bold;
}

.cube {
  display: flex;
  justify-content: space-between;

  padding-left: 5rem;

  padding-top: 25px;
}

.cube .cubo {
  display: flex;

  transform: rotateX(45deg);
  transform-style: preserve-3d;

  animation-name: movimentoCirculo;
  animation-duration: 15s;
  animation-iteration-count: infinite;
  animation-direction: normal;

  color: transparent;
}

.cube .cubo .face1 {
  width: 2.5rem;
  height: 2.5rem;

  border-style: solid;
  border-width: 0.15rem;
  border-color: rgb(218, 218, 218);

  transform: rotateZ(45deg) rotateX(0deg) rotateY(0deg);
  transform-style: preserve-3d;
}

.cube .cubo .face2 {
  position: absolute;

  width: 2.5rem;
  height: 2.5rem;

  border-style: solid;
  border-width: 0.15rem;
  border-color: rgb(218, 218, 218);

  transform: rotateZ(0deg) rotateX(90deg) rotateY(45deg) translateZ(1.25rem)
    translateY(1.25rem) translateX(0rem);
  transform-style: preserve-3d;
}

.cube .cubo .face3 {
  position: absolute;

  width: 2.5rem;
  height: 2.5rem;

  border-style: solid;
  border-width: 0.15rem;
  border-color: rgb(218, 218, 218);

  transform: rotateZ(0deg) rotateX(90deg) rotateY(-45deg) translateZ(1.25rem)
    translateY(1.25rem) translateX(0rem);
  transform-style: preserve-3d;
}

cube .cubo .face4 {
  position: absolute;

  width: 2.5rem;
  height: 2.5rem;

  border-style: solid;
  border-width: 0.15rem;
  border-color: rgb(218, 218, 218);

  transform: rotateZ(0deg) rotateX(-90deg) rotateY(-45deg) translateZ(1.25rem)
    translateY(-1.25rem) translateX(0rem);
  transform-style: preserve-3d;
}

.cube .cubo .face5 {
  position: absolute;

  width: 2.5rem;
  height: 2.5rem;

  border-style: solid;
  border-width: 0.15rem;
  border-color: rgb(218, 218, 218);

  transform: rotateZ(0deg) rotateX(90deg) rotateY(-45deg) translateZ(-1.25rem)
    translateY(1.25rem) translateX(0rem);
  transform-style: preserve-3d;
}

.cube .cubo .face6 {
  position: absolute;

  width: 2.5rem;
  height: 2.5rem;

  border-style: solid;
  border-width: 0.15rem;
  border-color: rgb(218, 218, 218);

  transform: rotateZ(-45deg) rotateX(0deg) rotateY(0deg) translateZ(2.5rem)
    translateY(0rem) translateX(0rem);
  transform-style: preserve-3d;
}

/* Responsivo - Mostrar botão hambúrguer apenas em telas menores */
@media (max-width: 640px) {
  .hamburger {
    display: block;
  }
}

main {
  height: 100%;
  background-color: var(--verde);
  padding: 10px;
}

main section {
  background-color: var(--laranja-claro);
  border: 1px solid black;
  border-radius: 5px;

  padding: 10px;
}

main section h2 {
  padding: 10px 0px;

  font-family: var(--fonte-botao);
}

main section p {
  padding: 10px 4px 15px 0px;

  text-align: justify;

  font-weight: bold;
}

main section img {
  width: 100%;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.315);
}

#sobre{
  margin-top: 20px;
}

#servicos{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: var(--laranja);

  height: 70px;
}

#servicos h3 a{
  color: var(--verde-escuro);
  background-color: var(--laranja-claro);

  text-decoration: none;

  padding: 15px;

  border: 2px solid var(--preto);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  
}

footer{
  background-color: var(--preto);
  padding: 10px;
  color: white;
  text-align: center;
}

footer h3{
  padding: 10px;

}

footer p{
  padding: 5px;
}