@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --cinza-claro: #d9d9d9;
  --cinza-escuro: #333;
  --cinza: #666565;
  --amarelo: #f2cb07;
  --laranja-claro: #f6a609;
  --laranja-escuro: #f28b0c;
}

html {
  font-size: 62.5%;
  width: 100vw;
  height: 100vh;
}

html {
  font-size: 62.5%;
  width: 100vw;
  height: 81.6vh;
}

/*Header*/
header {
  height: 170px;
  background-color: var(--cinza-escuro);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #ffffff;
  padding: 10px;
  border-bottom: 2px solid black;
}

.cabecalho .logotipo {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.cabecalho .logotipo #img-apollum {
  width: 150px;
}

.cabecalho .logotipo h1{
  font-size: 2.5rem;
  margin-left: -10px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  text-shadow: 3px 3px 4px #000000;
}

.cabecalho .direita {
  display: flex;
  flex-direction: row;
  width: 80%;
  justify-content: space-evenly;
  align-items: center;

}

.cabecalho .direita .menu ul {
  display: flex;
  flex-direction: row;
  list-style: none;
}

.cabecalho .direita .menu ul li {
  font-size: 1.8rem;
  border-radius: 10px;
  padding: 5px;
  margin-right: 5px;
}

.direita .menu ul li:hover {
  transform: scale(1.2);
  transition-duration: .3s;

}

.cabecalho .direita .menu ul li a {
  color: #ffffff;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}

.cabecalho .direita .menu ul li a:hover {
  text-decoration: underline;
}

.cabecalho #button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px 5px 0px 5px;
}

.cabecalho #button button {
  width: 200px;
  height: 55px;
  border-radius: 10px;
  color: #ffffff;
  background-color: var(--cinza);
  font-size: 1.8rem;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px 10px 0px 10px;
  border: 2px solid black;
  box-shadow: 2px 2px 2px #000000;
}

.cabecalho #button button:hover {
  transform: scale(1.2);
  transition-duration: .3s;
}


/*Main*/

main {
  width: 100vw;
  height: 81.6vh;
  background-image: linear-gradient(to bottom, black, var(--cinza-escuro), var(--cinza), var(--cinza-escuro), black);
}

#hero #heroEsquerdo{
  color: white;
  display: flex;
  flex-direction: column;
  width: 40vw;
  height: 80vh;
  justify-content: center;
  align-items: center;
}

#hero #heroEsquerdo h1{
  font-size: 3rem;
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
  text-shadow: 3px 3px 4px #000000;
  margin-bottom: 15px;
  color: var(--cinza-claro);
}

#hero #heroEsquerdo p{
  font-size: 1.8rem;
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
  text-shadow: 3px 3px 4px #000000;
  margin-bottom: 10px;
}

#hero #heroEsquerdo #button #planos{
  width: 200px;
  height: 55px;
  border-radius: 10px;
  border: 2px solid black;
  box-shadow: 2px 2px 2px #000000;
  margin: 5px 10px 0px 10px;
  background-color: var(--cinza-claro);
}

#hero #heroEsquerdo #button #whattsap{
  width: 200px;
  height: 55px;
  border-radius: 10px;
  border: 2px solid black;
  box-shadow: 2px 2px 2px #000000;
  margin: 5px 10px 0px 10px;
  background-color: rgb(40, 189, 40);
}


